{% extends 'blog/base.html' %}{% load i18n wagtailcore_tags %}

<!---->
{% block title %}{{ block.super }} | {{ category.title }}{% endblock %}

<!---->
{% block content %}
<section class="container grid gap-12 mx-auto px-4 py-20">
  {% include 'blog/components/breadcrumbs.html' %}

  <div
    class="mx-auto prose prose-sm prose-video:rounded-box xl:prose-lg 2xl:prose-xl prose-headings:text-primary prose-img:rounded-box prose-img:w-full"
  >
    <h1>{{ category.title }}</h1>

    <p class="lead">{{ category.description }}</p>

    {{ category.content }}
  </div>

  <ol class="grid grid-cols-12 gap-4">
    {% for article in category.get_ordered_children.specific %}
    <!---->
    {% include 'blog/components/article.html' %}
    <!---->
    {% empty %}
    <li
      role="article"
      class="card bg-base-300 card-sm shadow-sm md:card-md xl:card-lg 2xl:card-xl col-span-12 md:col-span-6 lg:col-span-4 2xl:col-span-3"
    >
      <div class="card-body">
        <h2 class="card-title text-primary">{% trans 'No articles' %}</h2>

        <p class="grow-0">
          {% trans 'There is no articles in this category.' %}
        </p>
      </div>
    </li>
    {% endfor %}
  </ol>

  {% include 'blog/components/pagination.html' %}
</section>
{% endblock %}
